.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-image: url(../img/game1-bg1.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;

  &-step {
    background-color: $white;
    border-radius: 24px;
    padding: 90px 80px;
    margin: 20px 0 90px;
    flex-direction: column;
    display: none;

    &-count {
      background-color: transparent;
    }

    &-desc {
      font-size: 40px;
      margin-bottom: 0;
    }

    &.is-active {
      display: flex;
    }

    &-game {
      background-color: transparent;
    }

    &-final {
      background-color: transparent;

      .quiz-box {
        margin-bottom: 90px;
      }

      .btn-container {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}

.quiz-bottom {
  text-align: center;
}

.quiz-next-step {
  display: none;

  &.is-shown {
    display: flex;
    margin: auto;
  }
}

.quiz-values {
  background-color: transparent;
  padding: 0;
  flex-direction: row;
  gap: 24px;

  &-item {
    background-color: white;
    padding: 24px 30px;
    border-radius: 16px;
    flex-basis: 25%;
    flex-grow: 1;

    .h3 {
      margin: 20px 0;
    }

    p {
      font-size: 22px;
      color: $black;
    }
  }
}

.quiz-count {
  background-color: transparent;
  padding: 0;
  &-text {
    font-size: 240px;
    font-weight: 700;
    color: white;
    cursor: default;
    background-color: transparent;
    display: block;
  }
}

.game1-time,
.game1-step {
  background-color: white;
  border-radius: 16px;
  font-size: 80px;
  font-weight: 700;
  color: #171717;
  padding: 5px 80px;
}

.game1-stats {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 18px 23px;
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin: 0 auto;
  width: 592px;

  &-item {
    flex-grow: 1;
    flex-basis: 50%;
    text-align: center;

    & > span {
      font-size: 22px;
      font-weight: 700;
      color: white;
      margin-bottom: 10px;
      display: block;
    }
  }
}

.game1-canvas {
  border-radius: 16px;
  width: 590px;
}

.quiz-step-result {
  padding: 0;
  background-color: transparent;
}

.quiz-box {
  padding: 90px;
  background-color: $white;
  border-radius: 24px;
  text-align: center;

  & + .quiz-box {
    padding: 60px 90px;
    margin: 35px auto;
  }

  .btn-container {
    margin-top: 40px;
  }
}

@media (max-width: 1280px) {
  .quiz-values {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .quiz-step {
    padding: 50px 30px;
    margin-bottom: 30px;
  }

  .quiz-values,
  .quiz-step-game {
    padding: 0;
  }

  .quiz-step-desc {
    font-size: 30px;
    margin-top: 20px;
  }
}

